{% extends "base.html" %}
{% block content %}
    <h1>
	BoozeWatch.ca</h1>
<p>
	With this tool you will always be up to date with your local LCBO booze.</p>
<p>
	&nbsp;</p><h3>Select the LCBO stores you like to monitor</h3>
<form action="?" method="post" onsubmit="submitStores(this); return false;">
<p>
<select class="select2" style="width:100%" multiple="multiple" name="stores[]">
    {{ stores|safe }}
</select>
</p>
<p>
<button type="submit" class="btn btn-primary pull-right" id="save-btn">SAVE</button>
</p>
</form>
{% endblock %}

{% block js %}
<script>
$('.select2').select2();
function submitStores(form) {
  $('#save-btn').addClass('btn-default').removeClass('btn-primary');
  $.post('?', $(form).serialize(), function(response) {
    $('#save-btn').addClass('btn-primary').removeClass('btn-default');
  });
}
</script>
{% endblock %}
