{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>
    Virtual Store
</h1>
<form action="?" method="post">
<p>
    <label>
        Select your local stores:
    </label>
<select class="select2" style="width:100%" multiple="multiple" name="store">
    {{ stores|safe }}
</select>
</p>
<p class="text-right">
<button type="submit" class="btn btn-primary" id="save-btn">SAVE</button>
</p>
</form>

<hr>

<div class="row">
  <div class="col-sm-3">
    <ul id="ul-nav">
      <li>loading...</li>
    </ul>
  </div>
  <div class="col-sm-9">
	<div class="row">
        <div>
            <div class="col-sm-3 checkbox pull-right">
                <label><input onclick="load_contents()" type="checkbox" name="sale" id="checkbox-sale"> On Sale</label>
            </div>
        </div>
	</div>
	<hr>
	<div id="main-div"></div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script>
  $('.select2').select2();

  $(document).ready(function() {
    $('#ul-nav').load('?nav');
  });

  var c1=false;
  var c2=false;
  var c3=false;

  function open_category(cat1,cat2,cat3) {
    window.c1 = cat1;
    window.c2 = cat2;
    window.c3 = cat3;
    load_contents();
  }
  function load_contents() {
    var sale = $('#checkbox-sale')[0].checked ? 1 : 0;
    $.get('?',{nav:true, c1:c1, c2:c2, c3:c3, sale: sale}, function(response) { $('#ul-nav').html(response); });
    if (c1) {
      $('#main-div').html('loading...');
      $.get('?',{list:true, c1:c1, c2:c2, c3:c3, sale: sale}, function(response) { $('#main-div').html(response); window.setTimeout(processRating, 1000) });
    }
  }
  var rate_ids = [];
  function rateMe(id) {
    rate_ids[rate_ids.length] = id;
  }

  function processRating() {
	if (rate_ids.length == 0) return;
	var id = rate_ids.shift();
	$.get('?', {rate:id}, function(response) {
		$('#rating-'+id).html(response);
		window.setTimeout(processRating, 3000 + (Math.random()*5000));
	}, 'html');
  }

</script>
{% endblock %}
