/* global styles */
html {
  margin:0px;
	padding:0px;
}
body {
  font-family: 'Roboto Slab', sans-serif;
	margin:0px;
	padding:0px;
  color:#675c4e;
}
fieldset {
	border:0;
	padding:5px;
}
.clear {
	margin:0px;
	padding:0px;
	height:0px;
	font-size:0px;
	clear:both;
}
ADDRESS {
  font-style:normal;
}

#ul-navigation {
list-style:none;
float:right;
background:#2eaab1;
}
#navigation-top LI {
display:inline-block;
}
#navigation-top a {
color:white;
font-weight:700;
line-height:50px;
padding:0 20px;
}

#website-credits, #website-credits a {
  color:#ccc;
}

/* content */
DIV#content {
  min-height:450px;
}
#header {
margin-top:-52px;
height:52px;
margin-bottom:50px;
background:#2eaab1;
}
div.bar-top {
  width:100%;
  height:52px;
  background:#2eaab1;
}
