{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>
    New Booze
</h1>
<form action="?" method="post">
<p>
<select class="select2" style="width:100%" multiple="multiple" name="store">
    {{ stores|safe }}
</select>
</p>
<p class="text-right">
<button type="submit" class="btn btn-primary" id="save-btn">SAVE</button>
</p>
</form>

<hr>
<ul class="nav nav-tabs" role="tablist">
{% for c in primary_categories %}
<li role="presentation" class="{% if forloop.counter == 1 %}active{% endif %}">
    <a href="#tab{{ forloop.counter }}" aria-controls="home" role="tab" data-toggle="tab">
        {{ c }}
    </a>
</li>
{% endfor %}
</ul>
<div class="tab-content">
{% for c in primary_categories %}
    <div role="tabpanel" class="tab-pane{% if forloop.counter == 1 %} active{% endif %}" id="tab{{ forloop.counter }}">
    {% for line in new_inv %}{% if line.primary_category == c %}

        <div class="col-sm-2" style="padding:10px;">
            <a style="height:270px;" href="/virtual-store/?id={{ line.id }}" onclick="$('#myModal').modal(); $('#myModal .modal-body').html('loading...').load('/virtual-store/?id={{ line.id }}'); return false" class="thumbnail">
                <div id="rating-{{ line.id }}" style="text-align:center;">
                {% comment %}
                <?= isset($ratebeer[$line['id']])?rate_to_stars($ratebeer[$line['id']]):'' ?>
                <?= isset($ratewine[$line['id']])?rate_to_stars($ratewine[$line['id']]):'' ?>
                {% endcomment %}
                </div>
                <img src="{% if line.image_thumb_url %}{{ line.image_thumb_url }}{% else %}{% static 'no-image-available.png'%}{% endif %}" style="max-height:150px;">
                {{ line.name }}
                <br>
                {% if c == 'Wine' %}
                {{ line.origin }} / {{ line.price }}
                {% else %}
                {{ line.price }} / {{ line.alcohol_content }}% abv
                {% endif %}
            </a>
        </div>
    {% endif %}{% endfor %}
    </div>
{% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script>
$('.select2').select2();
</script>
{% endblock %}
