{% load bootstrap3 %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  <meta name="description" content="">

    <!--
  <script src="js/jquery.placeholder.js"></script>
  <script src="js/jquery.h5validate.js"></script>
  <script src="js/site.js"></script>

  <link href="bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    -->

    {% bootstrap_css %}

  <link href="{% static "style.css" %}" rel="stylesheet">

  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="shortcut icon" href="img/favicon.ico">

  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.css" rel="stylesheet" type="text/css"  media="all"  />

<!--[if lte IE 7]>
  <link href="css/ie67.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
  <div class="bar-top"></div>
  <div class="container">
    <header><div id="header">

      <nav>
        <div id="navigation-top">
          <strong style="font-size:18px; line-height:50px; float:left;"><a href="/" rel="nofollow">BoozeWatch.ca</a></strong>
          <ul id="ul-navigation">
            <li><a class="selected" href="/">Home</a></li>
            <li><a class="" href="/virtual-store">Virtual Store</a></li>
            <li><a class="" href="/new-booze-watch">New Booze Watch</a></li>
            <li><a class="" href="/account">Account</a></li>
          </ul>
        </div>
      </nav>

    </div></header>

    <section>
      <div id="main">
        <div id="above-content"></div>
        <article>
          <div id="content-border">
            <div id="content">
              {% block content %}{% endblock %}
            </div>
            <div class="clearfix"></div>
          </div>
        </article>
        <div class="clearfix"></div>
      </div>
      <footer>
        <div id="footer">
        </div>
      </footer>
      <div id="website-credits" class="text-right">
        <hr>
        <p>
			<a href="https://ca.linkedin.com/in/ekooi" rel="external">author</a>
			&nbsp;&nbsp;&nbsp;
			<a href="https://bitbucket.org/goudvis/bw" rel="external">View Source</a>
		</p>
		<br>
		<!-- -->
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="business" value="paypal@bhosted.ca">
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="item_name" value="Boozewatch.ca Donation">
    <input type="hidden" name="item_number" value="Boozewatch.ca Donation">
    <input type="hidden" name="currency_code" value="CAD">
    <input type="image" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" alt="Donate">
    <img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
</form>
		<!-- -->
      </div>
    </section>
  </div>
  <div class="bar-bottom"></div>

  {% bootstrap_javascript True %}

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.js" type="text/javascript"></script>

  {% block js %}{% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76593118-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>